.sub_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_nav > ul {
    display: flex;
}
#sub_ul > li{
    cursor: pointer;
    font-weight: 600;
}
#sub_ul > li:nth-child(2){
    margin-left: 10px;
}
#sub_ul > li:nth-child(2){
    color: #9F44F8;
}
#sub_ul > li:nth-child(3){
    color: #FF5180;
}
#sub_ul > li > a{
    padding: 4px 8px;
    font-weight: bold;
}
#sub_ul > li > a:hover{
    background-color: #FF7D9E;
    color: #FFF;
    font-weight: bold;
}
#total_menu>a:hover + #sub_menu{
   display: block;
}
#sub_menu{
    position: absolute;
    background-color: #FF7D9E;
    font-weight: lighter;
    color: #FFF;
    padding: 14px 16px 14px 10px;
    white-space: nowrap;
    display: none;
}
#sub_menu>li{
    padding-top:10px
}
.sub_btn{
    justify-content: center;
}

#today_start{
    width: 5.7rem;
    height: 3.125rem;
    margin-left: 100px;
    text-align: center;
    justify-content: center;
    background-color: #F4AA00;
    border-radius: 50px;
    color: #FFF;    
    font-weight: bold;
}
#today_start_text{
    text-align: center;
    position: relative;
    top: 30%;
}